# Copyright (c) 2025 Advanced Micro Devices, Inc. All Rights Reserved.

pytest
black

# MLIR-AIE and LLVM-AIE (Peano) packages are not on the official PyPI, so they are
# added as additional indices here.
--extra-index-url=https://github.com/Xilinx/mlir-aie/releases/expanded_assets/latest-wheels-2
--extra-index-url=https://github.com/Xilinx/llvm-aie/releases/expanded_assets/nightly
mlir_aie
llvm-aie

# MLIR-extras (Python bindings/helpers for MLIR)
# The following environment variables must be set:
# MLIR_PYTHON_EXTRAS_SET_VERSION="0.0.8.3"
# HOST_MLIR_PYTHON_PACKAGE_PREFIX="aie"
git+https://github.com/erwei-xilinx/mlir-python-extras@a801853ac0eef50a0f2779cfbbd7dabc931806ee
-f https://github.com/llvm/eudsl/releases/expanded_assets/latest
